@font-face {
	font-family: 'Gilroy Extra Bold';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
	url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}