body {
	margin: 0;
	padding: 0;

	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
}

html,
body {
	min-width: 1160px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	padding-top: 40px;
}

.main-navigation {
	position: relative;

	padding: 35px 60px 35px 60px;

	/* background-color: rgba(240, 197, 46, 0.5); */
	background-color: #f7e296;
}

.user-navigation,
.site-navigation,
.category-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-header-logo {
	position: absolute;
	top: -24px;
	left: 58px;

	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.48px;
	text-transform: uppercase;
}

.inner-page .main-header-logo:hover {
	opacity: 0.6;
}

.inner-page .main-header-logo:active {
	opacity: 0.3;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 28px;
}

.search-form {
	display: flex;
	width: 440px;
	margin-right: 100px;
}

.search-field {
	display: block;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	padding-right: 20px;

	color: #000000;
	font-size: 15px;
	line-height: 30px;

	background-color: transparent;
	background-image: url(img/search.svg);
	background-repeat: no-repeat;
	background-position: 3px 16px;
	background-size: 16px 16px;
	border: 0;
	outline: 0;
}

.search-field::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::placeholder,
.search-form:active .search-field::placeholder {
	visibility: hidden;
}

.search-btn {
	position: relative;

	visibility: hidden;
	margin: 0;
	padding: 6px 20px;

	font-size: 15px;
	line-height: 30px;

	border: 2px solid #000000;
	background-color: transparent;
}



.search-btn:active {
	color: rgba(255, 255, 255, 0.3);
}

.search-btn:hover::before,
.search-btn:focus::before,
.search-btn:active::before,
.search-field:focus ~ .search-btn::before,
.search-field:valid ~ .search-btn::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: -2px;

	width: 440px;

	border-bottom: 2px solid #000000;
	visibility: visible;
}

.search-field:focus ~ .search-btn,
.search-field:valid ~ .search-btn {
	visibility: visible;
}

.search-btn:hover,
.search-btn:focus {
	visibility: visible;

	color: #ffffff;

	background-color: #000000;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation a {
	position: relative;

	display: block;
	padding-left: 27px;

	color: #000000;
}
.user-navigation li:not(:nth-child(1)) {
	padding-top: 8px;
}

.user-navigation li:nth-child(2) {
	margin-right: auto;
}
.user-navigation li:nth-child(n+3) {
	margin-left: 38px;
}

.user-navigation .login::before {
	content: '';
	position: absolute;
	left: 0;
	top: 9px;	

	width: 13px;
	height: 12px;

	background-image: url(img/user.svg);
}

.user-navigation .compare::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 11px;	

	width: 10px;
	height: 10px;

	background-image: url(img/compare.svg);
}

.user-navigation .cart::before {
	content: '';
	position: absolute;
	left: 4px;
	top: 9px;	

	width: 12px;
	height: 12px;

	background-image: url(img/cart.svg);
}

.user-navigation a:hover,
.user-navigation a:focus{
	opacity: 0.6;
}

.user-navigation a:active {
	opacity: 0.3;
}

.category-list {
	display: none;

	position: absolute;

	background-color: #f7e296;
}



.category-list a {
	display: block;
	margin-right: 60px;

	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.15px;
	color: #000;
	
}

.category-item:nth-child(5) a {
	margin-bottom: 20px;
}


.site-navigation {
	display: flex;
	flex-wrap: wrap;

}

.site-navigation a:hover,
.site-navigation a:focus {
	opacity: 0.6;
}

.site-navigation a:active {
	opacity: 0.3;
}

.navigation-item > a {
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}

.navigation-item:first-child {
	width: 540px;
}

.catalog-hover {
	position: relative;
	padding-right: 27px;
}

.navigation-item:first-child:hover .category-list {
	display: flex;
	padding: 18px 0 22px 0;
	flex-wrap: wrap;
	flex-direction: column;
	z-index: 2;
	width: 1040px;
	height: 120px;
	align-content: flex-start;
}


.catalog-hover::after {
	content: '';
	position: absolute;
	top:50%;
	right: 0;

	width: 16px;
	height: 16px;
	margin-top: -8px;

	background: url(img/plus.png) no-repeat 0 0;
}

.navigation-item:nth-child(n+2) {
	margin-right: 35px;
}

.navigation-item:last-child {
	margin-right: -5px;
	margin-left: auto;
}
.main-slider{
	position: relative;
}

.main-slider:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 1160px;
	height: 125px;

	background-color: #f7e296;
	z-index: -1;
}

.popular-list{
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1;
}

.popular-item {
	display: flex;
	padding: 0px 60px 0px 60px;
}

.popular-item-left {
	width: 540px;
}

.popular-item-left img{
	position: relative;
	top: 0;
	left: 30px;
}

.popular-item-right {
	width: 480px;
}

.popular-slogan {
	margin: 0;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 47px;
	line-height: 56px;
}

