body {
	margin: 0;
	padding: 0;

	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
}

html,
body {
	min-width: 1160px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	padding-top: 40px;
}

.main-navigation {
	position: relative;

	padding: 35px 60px 35px 60px;

	/* background-color: rgba(240, 197, 46, 0.5); */
	background-color: #f7e296;
}

.user-navigation,
.site-navigation,
.category-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-header-logo {
	position: absolute;
	top: -24px;
	left: 58px;

	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 0.48px;
	text-transform: uppercase;
}

.inner-page .main-header-logo:hover {
	opacity: 0.6;
}

.inner-page .main-header-logo:active {
	opacity: 0.3;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 28px;
}

.search-form {
	display: flex;
	width: 440px;
	margin-right: 100px;
}

.search-field {
	display: block;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	padding-right: 20px;

	color: #000000;
	font-size: 15px;
	line-height: 30px;

	background-color: transparent;
	background-image: url(img/search.svg);
	background-repeat: no-repeat;
	background-position: 3px 16px;
	background-size: 16px 16px;
	border: 0;
	outline: 0;
}

.search-field::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::placeholder,
.search-form:active .search-field::placeholder {
	visibility: hidden;
}

.search-btn {
	position: relative;

	visibility: hidden;
	margin: 0;
	padding: 6px 20px;

	font-size: 15px;
	line-height: 30px;

	border: 2px solid #000000;
	background-color: transparent;
}



.search-btn:active {
	color: rgba(255, 255, 255, 0.3);
}

.search-btn:hover::before,
.search-btn:focus::before,
.search-btn:active::before,
.search-field:focus~.search-btn::before,
.search-field:valid~.search-btn::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: -2px;

	width: 440px;

	border-bottom: 2px solid #000000;
	visibility: visible;
}

.search-field:focus~.search-btn,
.search-field:valid~.search-btn {
	visibility: visible;
}

.search-btn:hover,
.search-btn:focus {
	visibility: visible;

	color: #ffffff;

	background-color: #000000;
}

.search-btn:active {
	color: rgba(255, 255, 255, 0.3);
}

.user-navigation a {
	position: relative;

	display: block;
	padding-left: 27px;

	color: #000000;
}

.user-navigation li:not(:nth-child(1)) {
	padding-top: 8px;
}

.user-navigation li:nth-child(2) {
	margin-right: auto;
	display: flex;
}

.user-navigation li:nth-child(n+3) {
	margin-left: 38px;
}

.user-navigation .login::before {
	content: '';
	position: absolute;
	left: 0;
	top: 9px;

	width: 13px;
	height: 12px;

	background-image: url(img/user.svg);
}

.user-navigation .compare::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 11px;

	width: 10px;
	height: 10px;

	background-image: url(img/compare.svg);
}

.user-navigation .cart::before {
	content: '';
	position: absolute;
	left: 4px;
	top: 9px;

	width: 12px;
	height: 12px;

	background-image: url(img/cart.svg);
}

.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active {
	opacity: 0.3;
}

.category-list {
	display: none;

	position: absolute;
	left: 0;
	background-color: #f7e296;
}



.category-list a {
	display: block;
	margin-right: 60px;

	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.15px;
	color: #000;

}

.category-item:nth-child(5) a {
	margin-bottom: 20px;
}


.site-navigation {
	display: flex;
	flex-wrap: wrap;

}

.site-navigation a:hover,
.site-navigation a:focus {
	opacity: 0.6;
}

.site-navigation a:active {
	opacity: 0.3;
}

.navigation-item>a {
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}

.navigation-item:first-child {
	width: 540px;
}

.catalog-hover {
	position: relative;
	padding-right: 27px;
}

.navigation-item:first-child:hover .category-list {
	display: flex;
	padding: 18px 60px 22px 60px;
	flex-wrap: wrap;
	flex-direction: column;
	z-index: 2;
	width: 1040px;
	height: 120px;
	align-content: flex-start;
}


.catalog-hover::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;

	width: 16px;
	height: 16px;
	margin-top: -8px;

	background: url(img/plus.png) no-repeat 0 0;
}

.navigation-item:nth-child(n+2) {
	margin-right: 35px;
}

.navigation-item:last-child {
	margin-right: -5px;
	margin-left: auto;
}

.main-slider {
	position: relative;
	min-height: 550px;
	margin-bottom: 56px;
}

.main-slider:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 1160px;
	height: 125px;

	background-color: #f7e296;
	z-index: -1;
}

.popular-list {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1;
	counter-reset: slide 0;
}

.popular-item {
	display: none;
	padding: 0px 60px 0px 60px;
}

.popular-item-left {
	padding-top: 15px;
	width: 540px;
}

.popular-item-left img {
	position: relative;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.popular-item-right {
	width: 500px;
	padding-top: 93px;
}

.popular-item:nth-child(1):before {
	content: "01";
}

.popular-item:nth-child(2):before {
	content: "02";
}

.popular-item:nth-child(3):before {
	content: "03";
}

.popular-item:before {
	position: absolute;
	top: 1px;
	right: 45px;

	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;
	letter-spacing: 1.8px;
}

.popular-slogan {
	position: relative;
	margin: 0;
	margin-bottom: 20px;

	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.46px;
}

.popular-slogan:before {
	content: '';
	position: absolute;
	top: -42px;
	left: 0;

	width: 100px;
	height: 7px;
	background-color: #ffffff;

}

.popular-desc {
	margin: 0;
	margin-bottom: 40px;
}

.button {
	position: relative;
	display: inline-block;
	padding: 8px 42px;

	text-transform: uppercase;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	color: #000000;
}

.button::before {
	content: '';
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	height: 20%;
	z-index: -1;

	background-color: #f0c52e;
	transition: transform ease 0.2s;
}

.button:hover::before,
.button:focus::before {
	transform: scaleY(5);
}

.button:active {
	color: rgba(0, 0, 0, 0.3)
}

.popular-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 44px;
}

.main-slider input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	top: 332px;
	right: 80px;
}

.slider-controls label {
	position: relative;
	display: inline-block;
	margin-left: 18px;
	width: 10px;
	height: 10px;
	border: 1px solid #000000;
	border-radius: 50%;
	/* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1); */
	cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"]::before,
#btn-2:checked~.slider-controls label[for="btn-2"]::before,
#btn-3:checked~.slider-controls label[for="btn-3"]::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	width: 3px;
	height: 3px;
	border: 1px solid #000000;
	border-radius: 50%;
}

#btn-1:checked~.popular-list .popular-item:nth-child(1),
#btn-2:checked~.popular-list .popular-item:nth-child(2),
#btn-3:checked~.popular-list .popular-item:nth-child(3) {
	display: flex;
}

.popular-table dt,
.popular-table dd {
	margin: 0;
	padding: 0;
	margin-right: 80px;
}

.popular-table {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	align-content: flex-start;
	height: 80px;
}

.popular-table dt {
	font-size: 13px;
	line-height: 20px;
}

.popular-table dd {
	margin-bottom: 5px;

	font-family: 'Gilroy Light', Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.assortment {
	margin-bottom: 72px;
}

.assortment-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.assortment-list li {
	position: relative;

	padding-top: 190px;
	width: 160px;
}

.assortment-item:before,
.assortment-item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 160px;
	height: 160px;
}

.assortment-item:before {
	background-color: #f7e296;
}

.assortment-item:hover:before,
.assortment-item:focus:before {
	background-color: #f0c52e;
}

.assortment-item:active::after {
	opacity: 0.3;
}

.assortment-item:active {
	color: rgba(0, 0, 0, 0.3)
}

.assortment-list li:nth-child(1) .assortment-item:after {
	background: url(img/popular-1.svg) 31px 52px no-repeat;
}

.assortment-list li:nth-child(2) .assortment-item:after {
	background: url(img/popular-2.svg) 38px 41px no-repeat;
}

.assortment-list li:nth-child(3) .assortment-item:after {
	background: url(img/popular-3.svg) 48px 38px no-repeat;
}

.assortment-list li:nth-child(4) .assortment-item:after {
	background: url(img/popular-4.svg) 28px 50px no-repeat;
}

.assortment-list li:nth-child(5) .assortment-item:after {
	background: url(img/popular-5.svg) 55px 32px no-repeat;
}

.assortment-list li:nth-child(6) .assortment-item:after {
	background: url(img/popular-6.svg) 13px 49px no-repeat;
}

.assortment-item {
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.18px;
}

.services {
	position: relative;
}

.services .container {
	position: relative;
	display: flex;
	margin-bottom: 165px;
}

.services::before {
	content: '';
	position: absolute;
	top: 100px;
	width: 100%;
	background-color: #e5e5e5;
	height: 287px;
	z-index: -2;
}

.nav-advantages-list {
	width: 280px;
	margin: 0;
	padding: 80px 0 46px 0;
	margin-right: 116px;
	list-style: none;
	border-right: 7px solid #000000;
}

.nav-services-item {
	margin-bottom: 24px;
}



.advantages-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-item {
	position: relative;
	display: none;
	margin: 0;
	width: 460px;
	padding-right: 300px;
	margin-top: 73px;
}

.services-item h3 {
	margin: 0;
	font-size: 47px;
	line-height: 48px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}

.services-item p {
	margin: 0;
}

.services-item:nth-child(1)::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 60px;
	width: 140px;
	height: 170px;
	background: url(img/delivery.svg) 0 0 no-repeat;
}

.services-item:nth-child(2)::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 60px;
	width: 180px;
	height: 200px;
	background: url(img/warranty.svg) 0 0 no-repeat;
}

.services-item:nth-child(3)::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 60px;
	width: 180px;
	height: 200px;
	background: url(img/credit.svg) 0 0 no-repeat;
}

.services-item.show {
	display: block;
}

.services-button {
	padding-left: 0;
	padding-right: 0;
	width: 160px;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;

	text-align: center;
	border: 0;
	background-color: transparent;
}

.nav-services-item.active {
	background-color: #000000;

}

.nav-services-item.active .services-button {
	color: #f7e184;
}

.companies {
	margin-bottom: 135px;
}

.companies-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.companies-item {
	position: relative;
	margin: 0;
	padding: 0;
}

.companies-item:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	height: 100px;
}

.companies-item:nth-child(1):hover::after {
	background-image: url('img/logo-1-copy.png');
}

.companies-item:nth-child(2):hover::after {
	background-image: url('img/logo-2-copy.png');
}

.companies-item:nth-child(3):hover::after {
	background-image: url('img/logo-3-copy.png');
}

.companies-item:nth-child(4):hover::after {
	background-image: url('img/logo-4-copy.png');
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 87px;
}

.about,
.contacts {
	position: relative;
	width: 560px;
}

.about {
	width: 475px;
}

.about::before,
.contacts::before {
	content: '';
	position: absolute;
	top: -52px;
	left: 0;
	background-color: #000;
	width: 80px;
	height: 7px;
}

.about h2,
.contacts h2 {
	margin: 0;
	font-size: 47px;
	line-height: 48px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	margin-bottom: 45px;
}

.about .first-text {
	margin-bottom: 28px;
}

.contacts .first-text {
	margin-bottom: 38px;
}

.partners-list {
	margin: 0;
	padding: 50px 0;
	list-style: none;
}

.partners-item {
	position: relative;
	padding-left: 35px;
	font-size: 16px;
	line-height: 40px;

	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
}

.partners-item::before {
	content: '';
	position: absolute;
	top: 11px;
	left: 1px;
	width: 8px;
	height: 8px;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
}

.contacts img {
	margin-bottom: 54px;
}

.main-footer {
	background-color: #464646;
	color: #ffffff;
}

.footer-navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	margin-bottom: 25px;
}

.footer-user-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-user-navigation li {
	margin-left: 38px;
}

.footer-user-navigation a {
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 36px;
	padding-left: 27px;
	color: rgba(255, 255, 255, 0.7)
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
	color: #ffffff;
}

.footer-user-navigation a:hover::before,
.footer-user-navigation a:focus::before {
	opacity: 0.6;
}

.footer-user-navigation a:active {
	color: #ffffff;
	opacity: 0.3;
}

.main-footer-logo {
	font-size: 48px;
	line-height: 48px;
	color: #ffc600;
	text-transform: uppercase;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
}

.login-out {
	opacity: 0.3;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	opacity: 0.6;
}

.main-footer-logo:active {
	opacity: 0.3;
}

.footer-login::before {
	content: '';
	position: absolute;
	left: 3px;
	top: 12px;
	width: 13px;
	height: 12px;
	background-image: url(img/footer-user.svg);
}

.footer-compare::before {
	content: '';
	position: absolute;
	left: 8px;
	top: 14px;
	width: 10px;
	height: 10px;
	background-image: url(img/footer-compare.svg);
}

.footer-cart::before {
	content: '';
	position: absolute;
	left: 5px;
	top: 12px;
	width: 12px;
	height: 12px;
	background-image: url(img/footer-cart.svg);
}

.footer-contacts {
	display: flex;
}

.footer-phone {
	margin-left: 200px;
}

.footer-contacts p {
	margin-top: 0;
	margin-bottom: 0;
}



.footer-category-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: auto;
}

.footer-category-item a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
}

.footer-category-item a:hover,
.footer-category-item a:focus {
	opacity: 0.6;
}

.footer-category-item a:active {
	opacity: 0.3;
}

.footer-category-item:nth-child(2n) {
	margin: 0 33px;
}

.footer-social {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 60px;
	padding-bottom: 60px;
}

.social-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-list a {
	opacity: 0.6;
}

.social-list a:hover,
.social-list a:focus {
	opacity: 1;
}

.social-list a:active {
	opacity: 0.3;
}

.social-list li:nth-child(2n) {
	margin: 0 25px;
}

.html-academy {
	position: absolute;
	top: 0px;
	right: 0;
}

.html-academy:hover,
.html-academyt:focus {
	opacity: 0.6;
}

.html-academy:active {
	opacity: 0.3;
}

.footer-social:before {
	content: '';
	position: absolute;
	top: 14px;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-user-navigation li:first-child {
	display: flex;
}

.page-title {
	margin: 50px 0 20px 0;
	font-size: 47px;
	line-height: 48px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
}

.page-container {
	padding-left: 60px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	margin-bottom: 50px;
}

.breadcrumbs li {
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	padding-right: 40px;
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}


.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 8.5px;
	right: 18px;
	width: 4px;
	height: 7px;
	background: url(img/nav-arrow.svg) 0 0 no-repeat;
}

.sorts {
	flex-grow: 1;
	width: 852px;
	background-color: rgba(0, 0, 0, 0.08);

}

.sorts h2 {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	margin-right: 50px;
}

.sort-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort-item {
	margin-right: 25px;
}

.sort-btn {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.sort-btn:hover,
.sort-btn:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sort-btn:active {
	color: rgba(0, 0, 0, 1);
}

.sort-btn.current {
	color: rgba(0, 0, 0, 1);
}

.sort-narrow-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: auto;
}

.sort-narrow-item:not(:last-child) {
	margin-right: 20px;
}

.sort-container {
	display: flex;
	align-items: baseline;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 760px;
	margin-left: 73px;
}

.narrow-bth {
	display: block;
	width: 11px;
	height: 10px;
	opacity: 0.2;
}

.narrow-bth.top {
	background: url(img/icon-up-dir.svg) 0 0 no-repeat;
}

.narrow-bth.bottom {
	background: url(img/icon-down-dir.svg) 0 0 no-repeat;
}

.narrow-bth:hover,
.narrow-bth:focus {
	opacity: 0.6;
}

.narrow-bth.active,
.narrow-bth:active {
	opacity: 1;
}

.filter-header h2 {
	margin: 0;
	margin-left: auto;
	margin-right: 68px;
	padding: 23px 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	width: 200px;
}

.filter-header {
	flex-grow: 1;
	width: 348px;
	background-color: #dbdbdb;
}

.filters {
	background-color: rgba(0, 0, 0, 0.08);
	flex-grow: 1;
	width: 348px;
	display: flex;
	padding-bottom: 70px;

}

.catalog {
	flex-grow: 1;
	width: 852px;
}

.filters-container {
	width: 200px;
	margin-left: auto;
	padding-right: 68px;
}

.sections-container {
	display: flex;
}

.form-catalog fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: 70px;
}

.form-catalog legend {
	padding: 10px 0 10px 0;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	border-top: 2px solid #000;
	width: 100%;
}

.form-catalog .range-legend {
	padding: 10px 0 35px 0;
}

.form-catalog .range {
	width: 100%;
	height: 2px;
	background-color: #dbdbdb;
	position: relative;
}

.form-catalog .range::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 107px;
	height: 2px;
	background-color: #91c92f;
}

.range-left-btn,
.range-right-btn {
	position: absolute;
	width: 21px;
	height: 21px;
	display: block;
	background: url(img/filter-button.svg);
}

.range-left-btn {
	top: -11px;
	left: -6px;
}

.range-right-btn {
	top: -11px;
	left: 107px;
}

.colors-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.colors-item {
	position: relative;
	padding-left: 40px;
}

.colors-item .label-text {
	font-size: 14px;
	line-height: 40px;
}

.colors-item label::before {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	width: 23px;
	height: 23px;
	background: url(img/checkbox-off.svg) 0 0 no-repeat;
}

.colors-list input[type="checkbox"]:checked+.checkbox-indicator {
	position: absolute;
	top: 9px;
	left: 0;
	display: block;
	width: 27px;
	height: 23px;
	background: url(img/checkbox-on.svg) 0 0 no-repeat;
}

.range-price {
	margin-top: 10px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Gilroy Light', Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 0.2)
}

.range-left-price {
	margin-right: 60px;
}

.form-catalog .colors-fieldset {
	margin-top: 32px;
}

.bluetooth-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.bluetooth-item {
	position: relative;
	padding-left: 40px;
}

.bluetooth-item .label-text {
	font-size: 14px;
	line-height: 40px;
}

.bluetooth-item label::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(img/radio-off.svg) 0 0 no-repeat;
}

.bluetooth-list input[type="radio"]:checked + .radio-indicator {
	position: absolute;
	top: 8px;
	left: 0;
	display: block;
	width: 25px;
	height: 25px;
	background: url(img/radio-on.svg) 0 0 no-repeat;
}

.filters-button {
	margin-top: 30px;	
	padding-left: 0;
	padding-right: 0;
	width: 200px;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;

	text-align: center;
	border: 0;
	background-color: transparent;
	z-index: 2;
}

.form-catalog .bluetooth-fieldset {
	margin-top: 30px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 360px;
	margin-bottom: 20px;
}

.catalog-item-image {
	margin: 0;
	padding: 0;
}

.catalog-item-title {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	width: 260px;
}

.catalog-item-price {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Gilroy Light', Arial, Helvetica, sans-serif;
}

.catalog-text {
	padding: 23px 0;
	display: flex;
	justify-content: space-between;
}

.catalog-container {
	padding: 69px 0 76px 73px;
	width: 760px;
}
.catalog-item-hover{
	display: none;
}

.catalog-item:hover .catalog-item-hover {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	top: 0;
	left: 0;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
	z-index: 1;
}

.catalog-button {
	margin: 20px 0;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;

	text-align: center;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.compare-button {
	font-size: 13px;
	font-family: 'Gilroy Light', Arial, Helvetica, sans-serif;
	text-align: center;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.pagination {
	padding: 25px 25px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	font-family: 'Gilroy Extra Bold', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: rgba(238, 238, 238, 0.7);
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.pagination-item a {
	color: #000000;

}

.pagination-item:nth-child(2n) {
	margin: 0 30px;
}